html{
    scroll-behavior: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding-left: none;
    padding: 0px;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    position: fixed;
    top: 0;
    padding-bottom: 1vh;
}

.nav-items{
    display: flex;
    width: 40vw;
    height: 5vh;
}

.nav-item{
    padding-left: 4vw;
    padding-top: 1vh;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-item a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}

.nav-item a.active{
    color: #30C2EC;
}

.logo{
    height: 5vh;
    width: 10vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 2.5vw;
    height: 5vh;
}

.logo-text{
    font-weight: bold;
    padding-top: 1vh;
    width: 10vw;
    height: 5vh;
    padding-left: 1vw;
}

.contents-cover{
    height: 100vh;
}

.nav-buffer{
    height: 7vh;
}

.contents{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 93vh;
}

.contents > div{
    scroll-snap-align: start;
}

.ham{
    display: none;
}

/*main*/
.main{
    height: 93vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.main-left{
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right{
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left-text1{
    font-size: 5vh;
    font-weight: bold;
}

.main-left-text2{
    font-size: 10vh;
    font-weight: bold;
    color: #30C2EC;
}

.main-left-text3{
    font-size: 2vh;
    font-weight: bold;
    padding-bottom: 5vh;
}

.main-left-button1{
    width: 20vw;
    height: 4vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1vh;
}

.main-left-button1 a{
    text-decoration: none;
    color: white;
}

.main-right-img{
    scale: 1.5;
}

/*bestbook*/
.bestBook{
    height: 93vh;
    width: 98vw;
}

.bestBook-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
    color: #30C2EC;
}

.bestBook-section{
    height: 86vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bestBook-book{
    height: 80vh;
    width: 20vw;
    background-color: white;
    padding-left: 2vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    overflow-y: hidden;
}

.bestBook-book:hover{
    height: 85vh;
    width: 20vw;
    transition: all 0.5s ease-in-out;
}

.bestBook-img-wrapper{
    height: 40vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    padding-bottom: 5vh;
    padding-top: 5vh;
}

.bestBook-book-img{
    border: solid black 1px;
    height: 100%;
}

.bestBook-book-text1{
    font-size: 2.5vh;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.bestBook-book-text2{
    height: 12vh;
    font-size: 1.5vh;
    width: 20vw;
    text-align: center;
    padding-bottom: 1vh;
}

.bestBook-book-text3{
    padding-bottom: 2vh;
}

.bestBook-book-button-wrapper{
    height: 7vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.2vh;
}

.bestBook-book-button{
    width: 10vw;
    height: 3vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 1.5vh;
    color: white;
    text-align: center;
    padding-top: 0.5vh;
}

.bestBook-book-button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.bestBook-book-knowMore{
    padding-top: 0.5vh;
}

.bestBook-book-knowMore-button{
    width: 20vw;
    height: 3vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 1.5vh;
    color: white;
    text-align: center;
    cursor: pointer;
}

.bestBook-book-knowMore-button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

/*recommendation*/
.recc{
    height: 93vh;
    width: 98vw;
}

.recc-title{
    font-size: 5vh;
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-weight: bolder;
    color: #30C2EC;
}

.recc-search-bar{
    height: 7vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recc-search-bar input[type=text]{
    height: 5vh;
    width: 50vw;
    border: solid black 1px;
    border-radius: 2vw 0vw 0vw 2vw;
    padding-left: 2vw;
    font-size: 2vh;
}

.recc-search-bar button{
    height: 5vh;
    width: 5vw;
    border: solid black 1px;
    border-radius: 0vw 2vw 2vw 0vw;
    background-color: #30C2EC;
    color: white;
    font-size: 2vh;
    cursor: pointer;
}

.recc-search-bar button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.recc-books-section{
    height: 78vh;
    width: 96vw;
    display: flex;
    flex-direction: row;
    flex-flow: column wrap;
    padding-top: 4vh;
    padding-left: 2vw;
    gap: 2vh;
}

.recc-book{
    outline: black solid 1px;
    height: 34vh;
    width: 20vw;
    background-color: white;
    border-radius: 1vw;
    overflow-y: hidden;
    display: flex;
    flex-direction: column;
}

.recc-book:hover{
    height: 38vh;
    width: 20vw;
    transition: all 0.5s ease-in-out;
}

.recc-book-img-wrapper{
    height: 28vh;
    width: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.recc-book-img{
    border: solid black 1px;
    height: 24vh;
    width: 10vw;
}

.recc-book-text1{
    width: 20vw;
    text-align: center;
    height: 4vh;
    padding-top: 3vh;
    font-size: 2vh;
}

/*review*/
.review{
    height: 93vh;
    width: 98vw;
}

.review-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
    color: #30C2EC;
}

.review-inp-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.review-inp{
    height: 30vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.review-inp-left{
    height: 30vh;
    width: 49vw;
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.review-inp-left input[type=text]{
    height: 5vh;
    width: 45vw;
    border: solid black 1px;
    padding-left: 2vw;
}

.review-inp-right{
    height: 30vh;
    width: 49vw;
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vh;
}

.review-inp-right textarea{
    height: 10vh;
    width: 40vw;
    border: solid black 1px;
    padding-left: 2vw;
    font-size: 2vh;
}

.review-inp-right button{
    height: 5vh;
    width: 10vw;
    border: solid black 1px;
    background-color: #30C2EC;
    color: white;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 2vw;
}

.review-inp-btn-wrapper{
    height: 5vh;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review-inp-right button:hover{
    background-color: #0096ff;
    transition: background-color 0.2s ease-in-out;
}

.hRule{
    outline: solid #f0f0f0;
    width: 90%;
}

.sep{
    width: 100%;
    display: flex;
    justify-content: center;
}


.review-data-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.review-data{
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 5vh;
    height: 38vh;
    width: 90vw;
    display: flex;
    flex-direction: row;
    gap: 10vw;
}

.review-data-item{
    height: 34vh;
    width: 20vw;
    background-color: white;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    outline: solid black 1px;
    border-radius: 2vh;
}

.review-data-item:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: all 0.5s ease-in-out;
}

.review-data-item-img-wrapper{
    padding-bottom: 1vh;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.review-data-item-img{
    height: 10vh;
    width: 10vh;
    border-radius: 50%;
    outline: solid #30C2EC 5px;
}

.review-data-item-name{
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    font-weight: bold;
}

.review-data-item-email{
    height: 5vh;
    width: 100%;
    text-align: center;
    font-size: 2vh;
}

.review-data-item-desc{
    height: 10vh;
    width: 100%;
    text-align: center;
    font-size: 2vh;
}

/*footer*/
.footer{
    padding-left: 4vw;
    padding-right: 4vw;
    height: 93vh;
    width: 86vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.footer-po{
    width: 100%;
    height: 93vh;
    grid-column: 1/span 2;
}

.footer-p2{
    width: 100%;
    height: 93vh;
    grid-column: 3/span 1;
}

.footer-socials{
    width: 100%;
    height: 93vh;
    grid-column: 4/span 1;
}

.footer-socials-item-img{
    height: 5vh;
    width: 5vh;
}

.footer-socials-item a{
    text-decoration: none;
    color: black;
}

.footer-po-wrap, .footer-p2-wrap, .footer-social-wrap{
    padding-top: 5vh;
    height: 93vh;
    width: 100%;
    gap: 2vh;
}

@media screen and (max-width: 1360px){
    .navbar{
        background-color: #ffffff;
        height: 5vh;
    }
    .nav-items{
        display: none;
    }

    .logo-text{
        width: 40vw;
    }
    .logo{
        width: 100vw;
        height: 4vh;
    }

    .logo img{
        width: 10vw;
        height: 4vh;
    }
    
    .ham{
        display: block;
        font-size: 40px;
        padding-right: 10vw;
    }

    .ham-img{
        text-decoration: none;
        display: block;
    }

    .ham-close{
        display: none;
        z-index: 3;
        position: fixed;
        top: 1vh;
        right: 10vw;
    }

    #ham-check{
        position: fixed;
        top: 2vw;
        right: 2vw;
        z-index: 2;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-close{
        display: block;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-img{
        display: none;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 30vh;
        border: #1A43bf 2px solid;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
    }

    .contents-cover{
        overflow-x: hidden;
    }

    /*main*/
    .main{
        height: 94vh;
        width: 96vw;
        flex-direction: column;
    }
    .main-left{
        width: 100vw;
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-right{
        width: 100vw;
        height: 54vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .main-right-img{
        z-index: 1;
        width: 60vw;
        height: 30vh;
    }

    .main-left-button1{
        width: 30vw;
    }

    .main-left-text2{
        font-size: 5vh;
    }
    /*bestbook*/
    .bestBook{
        height: 94vh;
        width: 96vw;
    }
    .bestBook-section{
        display: flex;
        flex-flow: row wrap; 
    }

    .bestBook-book{
        height: 40vh;
        width: 40vw;
        margin: 2vw;
        border-radius: 1vh;
    }

    .bestBook-book:hover{
        height: 45vh;
        width: 40vw;
        transition: all 0.5s ease-in-out;
    }

    .bestBook-book-text1{
        font-size: 2vh;
        height: 6vh;
        width: 100%;
    }

    .bestBook-book-img{
        height: 20vh;
    }

    .bestBook-book-text2{
        display: none;
    }

    .bestBook-img-wrapper{
        height: 20vh;
        width: 40vw;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bestBook-book-text3{
        padding: 0;
    }

    .bestBook-book-text3-1{
        padding-top: 0.5vh;
        font-size: 1.6vh;
    }

    .bestBook-book-text3-2{
        font-size: 1.1vh;
    }

    .bestBook-book-text3-3{
        font-size: 1.5vh;
    }

    .bestBook-book-button-wrapper{
        padding-top: 2vh;
        height: 9vh;
        width: 100%;
        gap: 2vh;
    }

    /*recommendation*/

    .recc{
        height: 94vh;
        width: 96vw;
    }

    .recc-title{
        height: 14vh;
    }

    .recc-search-bar{
        height: 10vh;
        width: 96vw;
    }

    .recc-search-bar button{
        width: 10vw;
    }

    .recc-books-section{
        height: 70vh;
        width: 96vw;
        padding-top: 0;
        padding-left: 0;
    }

    .recc-book{
        height: 19vh;
        width: 20vw;
        margin: 2vw;
    }

    .recc-book:hover{
        height: 21vh;
        width: 20vw;
        transition: all 0.5s ease-in-out;
    }

    .recc-book-img{
        height: 10vh;
    }

    .recc-book-img-wrapper{
        height: 14vh;
        padding-top: 0;
    }

    .recc-book-text1{
        height: 2vh;
        padding: 0;
        font-size: 1.2vh;
        font-weight: bold;
    }

    /*review*/

    .review{
        height: 94vh;
        width: 96vw;
    }

    .review-title{
        height: 8vh;
    }

    .review-inp-title{
        height: 4vh;
    }

    .review-inp-left{
        width: 40vw;
    }

    .review-inp-left input[type=text]{
        width: 35vw;
    }

    .review-inp-right{
        width: 44vw;
    }

    .review-inp-right button{
        width: 34vw;
    }

    .review-inp-right textarea{
        height: 10vh;
    }

    .review-data{
        gap: 5vw;
    }

    .review-data-item-name{
        height: 2vh;
        font-size: 1.5vh;
    }
    
    .review-data-item-email{
        height: 2vh;
        font-size: 1vh;
    }

    .review-data-item-desc{
        height: 5vh;
        font-size: 1.1vh;
    }
    .review-data-item-img-wrapper{
        padding-bottom: 2vh;
    }
    .review-data-item-img{
        outline: solid #30C2EC 2px;
    }
}