html{
    scroll-behavior: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding-left: none;
    padding: 0px;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    position: fixed;
    top: 0;
    padding-bottom: 1vh;
}

.nav-items{
    display: flex;
    width: 40vw;
    height: 5vh;
}

.nav-item{
    padding-left: 4vw;
    padding-top: 1vh;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-item a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}

.nav-item a.active{
    color: #30C2EC;
}

.logo{
    height: 5vh;
    width: 10vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 2.5vw;
    height: 5vh;
}

.logo-text{
    font-weight: bold;
    padding-top: 1vh;
    width: 10vw;
    height: 5vh;
    padding-left: 1vw;
}

.contents-cover{
    height: 100vh;
}

.nav-buffer{
    height: 7vh;
}

.contents{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 93vh;
}

.ham{
    display: none;
}

/*main*/
.main{
    height: 93vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.main-left{
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right{
    width: 49vw;
    height: 93vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-left-text1{
    font-size: 5vh;
    font-weight: bold;
}

.main-left-text2{
    font-size: 10vh;
    font-weight: bold;
}

.main-left-text3{
    font-size: 2vh;
    font-weight: bold;
    padding-bottom: 5vh;
}

.main-left-button1{
    width: 20vw;
    height: 4vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 2vh;
    font-weight: bold;
    color: white;
    text-align: center;
    padding-top: 1vh;
}

.main-left-button1 a{
    text-decoration: none;
    color: white;
}

.main-right-img{
    scale: 1.5;
}

/*bestbook*/
.bestBook{
    height: 93vh;
    width: 98vw;
}

.bestBook-title{
    height: 7vh;
    width: 98vw;
    text-align: center;
    font-size: 5vh;
    font-weight: bolder;
    color: #30C2EC;
}

.bestBook-section{
    height: 86vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.bestBook-book{
    height: 82vh;
    width: 20vw;
    background-color: white;
    padding-left: 2vw;
    border-radius: 1vw;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    overflow-y: hidden;
}

.bestBook-book:hover{
    height: 90vh;
    width: 20vw;
    transition: all 0.5s ease-in-out;
}

.bestBook-book-img{
    border: solid black 1px;
    height: 65%;
}

.bestBook-book-text1{
    font-size: 2.5vh;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

.bestBook-book-text2{
    height: 12vh;
    font-size: 1.5vh;
    width: 20vw;
    text-align: center;
}

.bestBook-book-button-wrapper{
    height: 7vh;
    width: 18vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vh;
}

.bestBook-book-button{
    width: 10vw;
    height: 3vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 1.5vh;
    color: white;
    text-align: center;
    padding-top: 0.5vh;
}

.bestBook-book-knowMore{
    padding-top: 0.5vh;
}

.bestBook-book-knowMore-button{
    width: 20vw;
    height: 3vh;
    background-color: #30C2EC;
    border: none;
    border-radius: 2vw;
    font-size: 1.5vh;
    color: white;
    text-align: center;
}

/*recommendation*/
.recc{
    height: 93vh;
    width: 98vw;
    background-color: green;
}

/*review*/
.review{
    height: 93vh;
    width: 98vw;
    background-color: yellow;
}

/*footer*/
.footer{
    height: 93vh;
    width: 98vw;
}

@media screen and (max-width: 768px){
    .navbar{
        background-color: #ffffff;
        height: 5vh;
    }
    .nav-items{
        display: none;
    }

    .logo{
        width: 100vw;
        height: 4vh;
    }

    .logo img{
        width: 10vw;
        height: 4vh;
    }
    
    .ham{
        display: block;
        font-size: 40px;
        padding-right: 10vw;
    }

    .ham-img{
        text-decoration: none;
        display: block;
    }

    .ham-close{
        display: none;
        z-index: 3;
        position: fixed;
        top: 1vh;
        right: 10vw;
    }

    #ham-check{
        position: fixed;
        top: 2vw;
        right: 2vw;
        z-index: 2;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-close{
        display: block;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-img{
        display: none;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 30vh;
        border: #1A43bf 2px solid;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}